node_modules/
*.log
vector_memory.dat
ios/Pods/
ios/vendor/
ios/MyOfflineLLMApp.xcodeproj/
ios/MyOfflineLLMApp.xcworkspace/
ios/.bundle/
/build/
android/app/build/
.env
*.xcfilelist
ios/build/
ios/MyOfflineLLMApp/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
!ios/build/generated/
!ios/build/generated/ios/**
ios/MyOfflineLLMApp.xcresult
