// Keep Pod settings optional at generate-time; pick them up after `pod install`
#include? "../Pods/Target Support Files/Pods-MyOfflineLLMApp/Pods-MyOfflineLLMApp.debug.xcconfig"

// Ensure React headers (and other public/private Pod headers) are discoverable
HEADER_SEARCH_PATHS = $(inherited) \
  "$(PODS_ROOT)/Headers/Public" \
  "$(PODS_ROOT)/Headers/Public/React-Core" \
  "$(PODS_ROOT)/Headers/Private" \
  $(SRCROOT)/build/generated/ios \
  $(PODS_ROOT)/Headers/Public/React-Codegen
SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/MyOfflineLLMApp/MyOfflineLLMApp-Bridging-Header.h
